
.card-permissions {
    .card-header {
        align-items: center;
        min-height: 50px;
        .group-name {
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
        }
    }


    .view-permissions {
        .permission-checkbox {
            .form-check .form-check-input {
                width: 2.5rem;
                height: 1.35rem;
            }
            label {
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }
}