
    .bd-cat-10 {
        background: #e5b22b !important;
        color: #FFF !important;
    }

    .bd-cat-10::after {
        border-top-color: #e5b22b !important
    }

    .bd-cat-13 {
        background: #39a657 !important;
        color: #FFF !important;
    }

    .bd-cat-13::after {
        border-top-color: #39a657 !important
    }

    .bd-cat-8 {
        background: #6b45e0 !important;
        color: #FFF !important;
    }

    .bd-cat-8::after {
        border-top-color: #6b45e0 !important
    }

    .bd-cat-12 {
        background: #e81055 !important;
        color: #FFF !important;
    }

    .bd-cat-12::after {
        border-top-color: #e81055 !important
    }

    .bdaia-header-default .topbar:not(.topbar-light) {
        background: #fb8332
    }

    .bdaia-header-default .topbar:not(.topbar-light) {
        background: linear-gradient(176deg, #fb8332 0, #b31919 100%);
    }

    .bdaia-header-default .header-container {
        border-bottom: 0 none;
    }

    ul.bd-components>li.bd-alert-posts {
        padding-right: 0;
    }

    .bdaia-header-default .header-container .bd-container {
        background: url("{{ asset('themes/html/assets/images/top-shadow.png') }}") no-repeat top;
    }

    .bdaia-header-default .topbar.topbar-gradient .breaking-title {
        background-color: rgba(0, 0, 0, .75);
        border-radius: 2px;
    }

    .inner-wrapper {
        background-color: #FFF;
    }

    .article-meta-info .bd-alignleft .meta-item:last-child {
        margin-right: 0;
    }

    .article-meta-info .bd-alignright .meta-item:first-child {
        margin-left: 0;
    }

    .articles-box-dark.articles-box.articles-box-block625 .articles-box-items>li:first-child {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .articles-box.articles-box-block614 .articles-box-items>li .article-details h3 {
        padding: 0;
        font-size: 19px;
        line-height: 1.33;
        font-weight: normal;
    }


    body {
        color: var(--base-color);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
        font-size: 13px;
        line-height: 21px;
    }

    * {
        padding: 0;
        margin: 0;
        list-style: none;
        border: 0;
        outline: none;
        box-sizing: border-box;
    }

    a {
        color: var(--base-color);
        text-decoration: none;
        transition: 0.15s;
    }


    a:active, a:hover {
        outline-width: 0;
    }

    div.hero section#banner.section {
        background: #FFFFFF !important;
    }
    #main-header:hover, #main-header.active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    #main-header .navbar .logo {
        -webkit-margin-end: 90px;
        margin-inline-end: 90px;
    }

    #main-header .navbar .nav-list > li {
        padding-inline: 0;
        -webkit-margin-end: 40px;
        margin-inline-end: 40px;
    }

    #main-header .navbar .nav-list > li a {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        text-transform: uppercase;
        color: var(--base-color) !important;
        padding: 0px;
    }


    #main-header .navbar .nav-list .dropdown-menu.submenu,
    #main-header .navbar .nav-list .dropdown-menu {
        border-radius: 0 !important;
        width: 230px !important;
        padding: 10px 0 !important;
        line-height: 20px !important;
        box-shadow: 0 15px 30px rgb(0 0 0 / 06%), 0 0 0 1px rgb(0 0 0 / 4%);
    }
    #main-header .navbar .nav-list .dropdown-menu.submenu a,
    #main-header .navbar .nav-list .dropdown-menu a {
        display: block;
        /* margin: 0 !important; */
        padding: 8px 20px !important;
        min-height: unset !important;
        font-size: 13px !important;
        text-transform: unset !important;
        font-weight: normal !important;
        color: var(--base-color) !important;
        max-width: 100% !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    #main-header .navbar .nav-list li,
    #main-header .navbar .nav-list .dropdown-item {
        height: unset !important;
        max-height: unset !important;
        padding-block: unset !important;
    }
    #main-header .navbar .nav-list ul {
        line-height: 20px;
        z-index: 1;
        top: unset !important;
        left: unset !important;
    }
    #main-header .navbar .nav-list ul ul {
        top: 0 !important;
        left: 100% !important;
        margin-top: -10px !important;
    }
    #main-header .navbar .nav-list li svg {
        display: none !important;
    }
    #banner .btn
    {
        /* padding: 22px 40px; */
        height: unset;
        /* border-radius: 10px !important; */
        /* box-shadow: none !important; */
        font-size: 18px;
        font-weight: 600;
        /* margin: 30px 0 0 0; */
        font-family: 'Poppins';
        text-transform: unset !important;
    }
    .section .intro .heading {
        font-family: 'Poppins';
        font-weight: 600;
        letter-spacing: -2px;
    }

    .list-unstyled {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#main-header .navbar .mobile-items {
  display: -webkit-box; display: -ms-flexbox; display: flex; gap: 0;
   -webkit-box-align: center;
   -ms-flex-align: center;
    align-items: center;
   }
