.social-counters-widget-form .remove-platform i {
  transition: all 0.2s;
}
.social-counters-widget-form .remove-platform:hover i {
  color: #333;
}

.lang_container.text .select2 {
  width: 100% !important;
}
.lang_container.text .select2 .select2-selection {
  border-radius: 8px 8px 0 0;
  height: 38px !important;
}
.lang_container.text textarea {
  border-radius: 0 0 8px 8px;
}
.lang_container .select2 {
  min-width: 150px;
  border-radius: 0 !important;
  width: auto !important;
}
.lang_container .select2 .select2-selection {
  line-height: 18px;
  border-radius: 8px 0 0 8px;
  max-width: 100% !important;
  background-color: #F6F9FB;
}
.lang_container .select2 .select2-selection span {
  min-width: 100%;
  text-align: start;
  height: 28px;
  line-height: 2rem;
  font-family: tahoma;
  font-size: 13px;
}
.lang_container .select2 .select2-selection:focus {
  background: #f5f8fa;
  border-color: #e4e6ef;
}
.lang_container .select2 img {
  max-width: 25px;
  max-height: 25px;
}
.lang_container .select2-container--default.select2-container--focus .select2-selection--single, .lang_container .select2-container--default .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ced4da !important;
}
.lang_container .select2-container--default .select2-selection--single .select2-selection__arrow b {
  right: 0 !important;
  left: auto !important;
  top: 20px !important;
}

.select2-container--default .select2-results__option {
  line-height: 1.5rem !important;
  font-family: tahoma !important;
  font-size: 13px !important;
}

.select2-container ul li img {
  max-width: 20px;
  max-height: 15px;
}
.select2-container ul li {
  width: auto !important;
}

.url_input_container .form-control-choose-type .select2 .select2-selection {
  border-radius: 0 8px 8px 0 !important;
}
.url_input_container.text .select2 {
  width: 100% !important;
}
.url_input_container.text .select2 .select2-selection {
  border-radius: 8px 8px 0 0;
  height: 38px !important;
}
.url_input_container.text textarea {
  border-radius: 0 0 8px 8px;
}
.url_input_container .select2 {
  min-width: 150px;
  border-radius: 0 !important;
  width: auto !important;
}
.url_input_container .select2 .select2-selection {
  line-height: 18px;
  border-radius: 8px 0 0 8px;
  max-width: 100% !important;
  background-color: #F6F9FB;
}
.url_input_container .select2 .select2-selection span {
  min-width: 100%;
  text-align: start;
  height: 28px;
  line-height: 2rem;
  font-family: tahoma;
  font-size: 13px;
}
.url_input_container .select2 .select2-selection:focus {
  background: #f5f8fa;
  border-color: #e4e6ef;
}
.url_input_container .select2 img {
  max-width: 25px;
  max-height: 25px;
}
.url_input_container .select2-container--default.select2-container--focus .select2-selection--single, .url_input_container .select2-container--default .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ced4da !important;
}
.url_input_container .select2-container--default .select2-selection--single .select2-selection__arrow b {
  right: 0 !important;
  left: auto !important;
  top: 20px !important;
}

.select2-container--default .select2-results__option {
  line-height: 1.5rem !important;
  font-family: tahoma !important;
  font-size: 13px !important;
}

.select2-container ul li img {
  max-width: 20px;
  max-height: 15px;
}
.select2-container ul li {
  width: auto !important;
}

/*# sourceMappingURL=custom.css.map*/